body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-container {
  height: 95vh;
  width: 100%;
}

/* .marker {
  background-color: red;
  color: white;
  padding: 15px 10px;
  display: inline-flex;
  transform: translate(-50%, -50%);
} */
.marker {
  position: absolute;
  transform: translate(-50%, -50%);
}

.pin {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
}

.text {
  white-space: nowrap;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.popup {
  position: absolute;
  top: -50px;
  left: -100px;
  width: 200px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.marker-list {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
  white-space: nowrap;
  padding: 5px;
  border-radius: 5px;
  max-width: 80%; /* Adjust the maximum height as needed */
  justify-content: flex-start; /* Align items to the start of the container */
  position: absolute;
  bottom: 100px; /* Move the list to the bottom */
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff00;
  border: 1px solid #cccccc00;
}

.marker-item {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  min-width: 250px;
  height: 150px;
  cursor: pointer;
  background-color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  font-size: 22px;
}

.marker-item:hover {
  background-color: #ddd;
}


.selected-marker-popup {
  position: absolute;
  top: 60px;
  left: 10px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 1;
}

.center-button {
  position: absolute;
  top: 10px;
  right: 75px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
}

.center-button:hover {
  background-color: #f1f1f1;
}